.topping {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}